In [253]:
#Getting library files into our program
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [254]:
#gettig data from client sheet
dataset = pd.read_csv("insurance_pre.csv")

In [255]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [256]:
#remove from duplicates from client data set
dataset = pd.get_dummies(dataset, drop_first = True)

In [257]:
#display data post removal of dummies
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [258]:
#display columns post removal of dummies
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [259]:
#assign the input values to independent, output values to dependent variable
independent = dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent = dataset[['charges']]

In [260]:
#display the input values
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [261]:
#display output values
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [262]:
#now the model selection and splitting data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size = 0.30, random_state = 0)

In [263]:
#display training data
X_train

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0     False       False
196    39  32.800         0     False       False
438    52  46.750         5     False       False
183    44  26.410         0     False       False
1298   33  27.455         2      True       False
...   ...     ...       ...       ...         ...
763    27  26.030         0      True       False
835    42  35.970         2      True       False
1216   40  25.080         0      True       False
559    19  35.530         0      True       False
684    33  18.500         1     False       False

[936 rows x 5 columns]

In [264]:
#display test set data
X_test

      age     bmi  children  sex_male  smoker_yes
578    52  30.200         1      True       False
610    47  29.370         1     False       False
569    48  40.565         2      True        True
1034   61  38.380         0      True       False
198    51  18.050         0     False       False
...   ...     ...       ...       ...         ...
1261   28  37.100         1      True       False
494    21  25.700         4      True        True
97     55  38.280         0      True       False
418    64  39.160         1      True       False
920    62  25.000         0     False       False

[402 rows x 5 columns]

In [265]:
#display output training data
y_train

          charges
1163   2200.83085
196    5649.71500
438   12592.53450
183    7419.47790
1298   5261.46945
...           ...
763    3070.80870
835    7160.33030
1216   5415.66120
559    1646.42970
684    4766.02200

[936 rows x 1 columns]

In [266]:
#display output testset data
y_test

          charges
578    9724.53000
610    8547.69130
569   45702.02235
1034  12950.07120
198    9644.25250
...           ...
1261   3277.16100
494   17942.10600
97    10226.28420
418   14418.28040
920   13451.12200

[402 rows x 1 columns]

In [267]:
#now getting the regression model here
from sklearn.ensemble import GradientBoostingRegressor
regressor = GradientBoostingRegressor()
regressor = regressor.fit(X_train, y_train)

C:\Anaconda3\Lib\site-packages\sklearn\ensemble\_gb.py:668: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)  # TODO: Is this still required?

In [268]:
#display regressor model
regressor

GradientBoostingRegressor()

In [269]:
#predict testset data
y_pred = regressor.predict(X_test)

In [270]:
#now importing here the evaluation metrics
from sklearn.metrics import r2_score
r_score = r2_score(y_test, y_pred)

In [271]:
#display the r_score
r_score

0.8842249771918311

In [272]:
#getting pickle module for deployment phase
import pickle

In [273]:
#saving the file model to filename variable
filename = "finalized-model_XGboostRegressor_Assignment_DafultValues.sav"

In [274]:
#usimg pickle dump method we are writing the file on disk
pickle.dump(regressor, open(filename, 'wb'))

In [275]:
#loading the file model to loaded_model variable
loaded_model = pickle.load(open(filename, 'rb'))

In [276]:
#here we are pedicting the value like we want and assigning to result variable.
result = loaded_model.predict([[42, 45.56, 2, True, False]])

C:\Anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  warnings.warn(

In [277]:
#displaying the predicted value for the given 5 values.
result

array([7315.54216748])